<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <services>
      <service name="PlainTextFilesEncryptionPortal.Services.FileService">
        <endpoint address="http://localhost/httpSaveFile" 
                  binding="basicHttpBinding" 
                  contract="PlainTextFilesEncryptionPortal.Services.IFileService"/>
        
        <endpoint address="http://localhost/mtomSaveFile"
                  binding="customBinding"
                  bindingConfiguration="httpMTOM"
                  contract="PlainTextFilesEncryptionPortal.Services.IFileService"/>
      </service>
    </services>

    <bindings>
      <customBinding>
        <binding name="httpMTOM">
          <reliableSession/>
          <mtomMessageEncoding/>
          <httpTransport/>
        </binding>
      </customBinding>
    </bindings>
    
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="true" 
                           httpGetUrl="http://localhost/SaveFile/Meta"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    
  </system.serviceModel>
 
</configuration>
